In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("covid-19 symptoms dataset (1).csv")

In [2]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0    102         0    9          0          -1              0
1    102         0   10          0           0              1
2    104         0   33          1          -1              0
3    101         1   59          0           1              0
4     99         0   98          0           0              0

In [3]:
df =df[["fever","bodyPain","age","runnyNose","diffBreath","infectionProb"]]
df

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0       102         0    9          0          -1              0
1       102         0   10          0           0              1
2       104         0   33          1          -1              0
3       101         1   59          0           1              0
4        99         0   98          0           0              0
...     ...       ...  ...        ...         ...            ...
2570     99         0   90          0           0              1
2571    100         0   53          0          -1              1
2572    101         0   44          1           0              0
2573    102         0   97          0          -1              1
2574    104         1   62          1          -1              1

[2575 rows x 6 columns]

In [4]:
df=df.rename({'infectionProb':'covid19_result'},axis=1)
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  covid19_result
0    102         0    9          0          -1               0
1    102         0   10          0           0               1
2    104         0   33          1          -1               0
3    101         1   59          0           1               0
4     99         0   98          0           0               0

In [5]:
df=df[df['covid19_result'].notnull()]
df

      fever  bodyPain  age  runnyNose  diffBreath  covid19_result
0       102         0    9          0          -1               0
1       102         0   10          0           0               1
2       104         0   33          1          -1               0
3       101         1   59          0           1               0
4        99         0   98          0           0               0
...     ...       ...  ...        ...         ...             ...
2570     99         0   90          0           0               1
2571    100         0   53          0          -1               1
2572    101         0   44          1           0               0
2573    102         0   97          0          -1               1
2574    104         1   62          1          -1               1

[2575 rows x 6 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fever           2575 non-null   int64
 1   bodyPain        2575 non-null   int64
 2   age             2575 non-null   int64
 3   runnyNose       2575 non-null   int64
 4   diffBreath      2575 non-null   int64
 5   covid19_result  2575 non-null   int64
dtypes: int64(6)
memory usage: 140.8 KB

In [7]:
cat=df['fever']
cat

0       102
1       102
2       104
3       101
4        99
       ...
2570     99
2571    100
2572    101
2573    102
2574    104
Name: fever, Length: 2575, dtype: int64

In [8]:
at=df['diffBreath']
at

0      -1
1       0
2      -1
3       1
4       0
       ..
2570    0
2571   -1
2572    0
2573   -1
2574   -1
Name: diffBreath, Length: 2575, dtype: int64

In [9]:
def dificult_breath(categeory,threshold):
     catregeory_map={}
     for i in range(len(categeory)):
         if categeory[i]>threshold:  
            categeory[i]=1
         else:
            categeory[i]=0  
     return categeory

In [10]:
fe=dificult_breath(at,0)
df['diffBreath']= fe
df

      fever  bodyPain  age  runnyNose  diffBreath  covid19_result
0       102         0    9          0           0               0
1       102         0   10          0           0               1
2       104         0   33          1           0               0
3       101         1   59          0           1               0
4        99         0   98          0           0               0
...     ...       ...  ...        ...         ...             ...
2570     99         0   90          0           0               1
2571    100         0   53          0           0               1
2572    101         0   44          1           0               0
2573    102         0   97          0           0               1
2574    104         1   62          1           0               1

[2575 rows x 6 columns]

In [11]:
x=df.drop("covid19_result",axis=1)
y=df["covid19_result"]

In [12]:
x

      fever  bodyPain  age  runnyNose  diffBreath
0       102         0    9          0           0
1       102         0   10          0           0
2       104         0   33          1           0
3       101         1   59          0           1
4        99         0   98          0           0
...     ...       ...  ...        ...         ...
2570     99         0   90          0           0
2571    100         0   53          0           0
2572    101         0   44          1           0
2573    102         0   97          0           0
2574    104         1   62          1           0

[2575 rows x 5 columns]

In [13]:
y

0       0
1       1
2       0
3       0
4       0
       ..
2570    1
2571    1
2572    0
2573    1
2574    1
Name: covid19_result, Length: 2575, dtype: int64

In [14]:
from sklearn.linear_model import LinearRegression
liner_reg=LinearRegression()
liner_reg.fit(x,y.values)

LinearRegression()

In [15]:
y_pred=liner_reg.predict(x)

In [16]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
import numpy as np
error=np.sqrt(mean_squared_error(y,y_pred))

In [17]:
error

0.49912312961019895

In [18]:
from sklearn.tree import DecisionTreeRegressor
dec_tree=DecisionTreeRegressor(random_state=0)
dec_tree.fit(x,y.values)

DecisionTreeRegressor(random_state=0)

In [19]:
y_pred1=dec_tree.predict(x)

In [20]:
error=np.sqrt(mean_squared_error(y,y_pred1))

In [21]:
error

0.22655432205416862

In [22]:
from sklearn.ensemble import RandomForestRegressor
ran_tree=RandomForestRegressor(random_state=0)
ran_tree.fit(x,y.values)

RandomForestRegressor(random_state=0)

In [23]:
y_pred2=ran_tree.predict(x)

In [24]:
error=np.sqrt(mean_squared_error(y,y_pred2))

In [25]:
error

0.2742361645090744

In [30]:
from sklearn.model_selection import GridSearchCV

max_depth=[None,2,4,6,8,10,12]
parameters={"max_depth": max_depth}
    
regressor = DecisionTreeRegressor(random_state=0)
grs=GridSearchCV(regressor,parameters,scoring="neg_mean_squared_error")
grs.fit(x,y.values)

GridSearchCV(estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'max_depth': [None, 2, 4, 6, 8, 10, 12]},
             scoring='neg_mean_squared_error')

In [31]:
regressor=grs.best_estimator_

regressor.fit(x,y.values)
y_pred =regressor.predict(x)
error=np.sqrt(mean_squared_error(y,y_pred))
error

0.4986738057875595

In [32]:
x=np.array([[1,0,10,0,0]])
x

array([[ 1,  0, 10,  0,  0]])

In [33]:
y_pred=dec_tree.predict(x)
y_pred

array([1.])

In [34]:
import pickle

In [37]:



data={"model": regressor}
with open('pickel_model.pkl','wb') as file:
     pickle.dump(data,file)

In [39]:
with open('pickel_model.pkl','rb') as file:
       data=pickle.load(file)
regress=data["model"]

In [40]:
y_pred=regress.predict(x)
print(y_pred)

[0.52397869]