In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.tree import DecisionTreeClassifier
df = pd.read_csv("/content/covid-19 symptoms dataset (1).csv")

In [ ]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0    102         0    9          0          -1              0
1    102         0   10          0           0              1
2    104         0   33          1          -1              0
3    101         1   59          0           1              0
4     99         0   98          0           0              0

In [ ]:
df =df[["fever","bodyPain","age","runnyNose","diffBreath","infectionProb"]]
df

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0       102         0    9          0          -1              0
1       102         0   10          0           0              1
2       104         0   33          1          -1              0
3       101         1   59          0           1              0
4        99         0   98          0           0              0
...     ...       ...  ...        ...         ...            ...
2570     99         0   90          0           0              1
2571    100         0   53          0          -1              1
2572    101         0   44          1           0              0
2573    102         0   97          0          -1              1
2574    104         1   62          1          -1              1

[2575 rows x 6 columns]

In [ ]:
df=df.rename({'infectionProb':'covid19_result'},axis=1)
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  covid19_result
0    102         0    9          0          -1               0
1    102         0   10          0           0               1
2    104         0   33          1          -1               0
3    101         1   59          0           1               0
4     99         0   98          0           0               0

In [ ]:
df=df[df['covid19_result'].notnull()]
df

      fever  bodyPain  age  runnyNose  diffBreath  covid19_result
0       102         0    9          0          -1               0
1       102         0   10          0           0               1
2       104         0   33          1          -1               0
3       101         1   59          0           1               0
4        99         0   98          0           0               0
...     ...       ...  ...        ...         ...             ...
2570     99         0   90          0           0               1
2571    100         0   53          0          -1               1
2572    101         0   44          1           0               0
2573    102         0   97          0          -1               1
2574    104         1   62          1          -1               1

[2575 rows x 6 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fever           2575 non-null   int64
 1   bodyPain        2575 non-null   int64
 2   age             2575 non-null   int64
 3   runnyNose       2575 non-null   int64
 4   diffBreath      2575 non-null   int64
 5   covid19_result  2575 non-null   int64
dtypes: int64(6)
memory usage: 140.8 KB

In [ ]:
at=df['diffBreath']
at

0      -1
1       0
2      -1
3       1
4       0
       ..
2570    0
2571   -1
2572    0
2573   -1
2574   -1
Name: diffBreath, Length: 2575, dtype: int64

In [ ]:
def dificult_breath(categeory,threshold):
     catregeory_map={}
     for i in range(len(categeory)):
         if categeory[i]>threshold:  
            categeory[i]=1
         else:
            categeory[i]=0  
     return categeory

In [ ]:
fe=dificult_breath(at,0)
df['diffBreath']= fe
df

      fever  bodyPain  age  runnyNose  diffBreath  covid19_result
0       102         0    9          0           0               0
1       102         0   10          0           0               1
2       104         0   33          1           0               0
3       101         1   59          0           1               0
4        99         0   98          0           0               0
...     ...       ...  ...        ...         ...             ...
2570     99         0   90          0           0               1
2571    100         0   53          0           0               1
2572    101         0   44          1           0               0
2573    102         0   97          0           0               1
2574    104         1   62          1           0               1

[2575 rows x 6 columns]

In [ ]:
def data_split(data,ratio):
    np.random.seed(100)
    shuffled = np.random.permutation(len(data))
    test_data_size = int(len(data)*ratio)
    test_data_indices = shuffled[: test_data_size]
    train_data_indices = shuffled[test_data_size :]
    return data.iloc[test_data_indices], data.iloc[train_data_indices]

In [ ]:
test_data, train_data = data_split(df, 0.15)

In [ ]:
train_data

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1498     99         1    4          0           0              1
2094     99         0   70          0          -1              0
1630    102         1   14          0           1              0
1763    100         0   82          1           0              0
1927     98         1   75          0           0              1
...     ...       ...  ...        ...         ...            ...
350     100         1   32          1           1              1
1930    102         1   14          0           0              0
79      104         1   79          1           1              0
1859    101         0   60          1           0              0
1544     99         1   53          1           1              0

[2189 rows x 6 columns]

In [ ]:
test_data

      fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2188     98         1   13          0           0              0
1164    100         0   19          1          -1              0
503      98         1   70          0          -1              1
65      100         0   30          1           0              0
345     102         0   92          1          -1              1
...     ...       ...  ...        ...         ...            ...
189      98         1   56          0           0              0
881     101         0   65          0           0              1
247     102         0   74          1           0              0
699     100         0   50          1           1              0
1656     99         0   97          1           1              0

[386 rows x 6 columns]

In [ ]:
x = train_data[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [ ]:
x

array([[ 99,   1,   4,   0,   0],
       [ 99,   0,  70,   0,  -1],
       [102,   1,  14,   0,   1],
       ...,
       [104,   1,  79,   1,   1],
       [101,   0,  60,   1,   0],
       [ 99,   1,  53,   1,   1]])

In [ ]:
x_test= test_data[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
x_test

array([[ 98,   1,  13,   0,   0],
       [100,   0,  19,   1,  -1],
       [ 98,   1,  70,   0,  -1],
       ...,
       [102,   0,  74,   1,   0],
       [100,   0,  50,   1,   1],
       [ 99,   0,  97,   1,   1]])

In [ ]:
y_train = train_data[['infectionProb']].to_numpy().reshape(2189, )
y_test = test_data[['infectionProb']].to_numpy().reshape(386, )

In [ ]:
y_test

array([0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0])

In [ ]:
#x=df.drop("covid19_result",axis=1)
#y=df["covid19_result"]

In [ ]:
#x

In [ ]:
#y

In [ ]:
from sklearn.linear_model import LogisticRegression
clflo = LogisticRegression()
clflo.fit(x, y_train)

LogisticRegression()

In [ ]:
clflo.predict_proba([[107,1,49,1,1]])

array([[0.5504449, 0.4495551]])

In [ ]:
y_pred = clf.predict_proba(x_test)
y_pred

array([[0.50184496, 0.49815504],
       [0.4516126 , 0.5483874 ],
       [0.51381247, 0.48618753],
       [0.48082745, 0.51917255],
       [0.49494217, 0.50505783],
       [0.50715954, 0.49284046],
       [0.48691831, 0.51308169],
       [0.49928701, 0.50071299],
       [0.4738269 , 0.5261731 ],
       [0.49267625, 0.50732375],
       [0.57134734, 0.42865266],
       [0.52231597, 0.47768403],
       [0.4626585 , 0.5373415 ],
       [0.57383812, 0.42616188],
       [0.52686094, 0.47313906],
       [0.4425707 , 0.5574293 ],
       [0.47007879, 0.52992121],
       [0.57516045, 0.42483955],
       [0.50470923, 0.49529077],
       [0.47008267, 0.52991733],
       [0.4772107 , 0.5227893 ],
       [0.53187053, 0.46812947],
       [0.50061979, 0.49938021],
       [0.5720262 , 0.4279738 ],
       [0.46700459, 0.53299541],
       [0.51040373, 0.48959627],
       [0.51699115, 0.48300885],
       [0.47441351, 0.52558649],
       [0.52623147, 0.47376853],
       [0.48563584, 0.51436416],
       [0.49775541, 0.50224459],
       [0.52168144, 0.47831856],
       [0.48559044, 0.51440956],
       [0.53049404, 0.46950596],
       [0.48003651, 0.51996349],
       [0.51234778, 0.48765222],
       [0.55469406, 0.44530594],
       [0.53010399, 0.46989601],
       [0.49804197, 0.50195803],
       [0.46128613, 0.53871387],
       [0.52851361, 0.47148639],
       [0.54205105, 0.45794895],
       [0.58079597, 0.41920403],
       [0.51925444, 0.48074556],
       [0.54928332, 0.45071668],
       [0.5223394 , 0.4776606 ],
       [0.43543684, 0.56456316],
       [0.5032337 , 0.4967663 ],
       [0.54432371, 0.45567629],
       [0.51330412, 0.48669588],
       [0.5612812 , 0.4387188 ],
       [0.49579927, 0.50420073],
       [0.577723  , 0.422277  ],
       [0.45707957, 0.54292043],
       [0.50743611, 0.49256389],
       [0.48892874, 0.51107126],
       [0.55727673, 0.44272327],
       [0.54944652, 0.45055348],
       [0.47897914, 0.52102086],
       [0.4808509 , 0.5191491 ],
       [0.50804526, 0.49195474],
       [0.49014374, 0.50985626],
       [0.50096822, 0.49903178],
       [0.46493236, 0.53506764],
       [0.45339171, 0.54660829],
       [0.54300109, 0.45699891],
       [0.51963344, 0.48036656],
       [0.55217038, 0.44782962],
       [0.56538334, 0.43461666],
       [0.46270581, 0.53729419],
       [0.46102912, 0.53897088],
       [0.47377871, 0.52622129],
       [0.51440623, 0.48559377],
       [0.48624313, 0.51375687],
       [0.56703582, 0.43296418],
       [0.5067582 , 0.4932418 ],
       [0.58273092, 0.41726908],
       [0.45369521, 0.54630479],
       [0.50318223, 0.49681777],
       [0.44573439, 0.55426561],
       [0.51721681, 0.48278319],
       [0.54039546, 0.45960454],
       [0.5034703 , 0.4965297 ],
       [0.46595858, 0.53404142],
       [0.51402859, 0.48597141],
       [0.5640492 , 0.4359508 ],
       [0.4734365 , 0.5265635 ],
       [0.5363105 , 0.4636895 ],
       [0.50669709, 0.49330291],
       [0.48458679, 0.51541321],
       [0.55272888, 0.44727112],
       [0.51841966, 0.48158034],
       [0.46963744, 0.53036256],
       [0.47907198, 0.52092802],
       [0.51716417, 0.48283583],
       [0.49923944, 0.50076056],
       [0.57413314, 0.42586686],
       [0.53709839, 0.46290161],
       [0.48430891, 0.51569109],
       [0.51095014, 0.48904986],
       [0.53418775, 0.46581225],
       [0.47998588, 0.52001412],
       [0.48631488, 0.51368512],
       [0.52608978, 0.47391022],
       [0.50092594, 0.49907406],
       [0.50161829, 0.49838171],
       [0.53949187, 0.46050813],
       [0.51029119, 0.48970881],
       [0.44363546, 0.55636454],
       [0.49383094, 0.50616906],
       [0.51369922, 0.48630078],
       [0.44472392, 0.55527608],
       [0.49270936, 0.50729064],
       [0.4929256 , 0.5070744 ],
       [0.52769215, 0.47230785],
       [0.50804374, 0.49195626],
       [0.47753965, 0.52246035],
       [0.48334905, 0.51665095],
       [0.52318052, 0.47681948],
       [0.52881874, 0.47118126],
       [0.52019037, 0.47980963],
       [0.54321651, 0.45678349],
       [0.50124714, 0.49875286],
       [0.50605753, 0.49394247],
       [0.46309902, 0.53690098],
       [0.47003139, 0.52996861],
       [0.52830641, 0.47169359],
       [0.49505474, 0.50494526],
       [0.47107847, 0.52892153],
       [0.48479898, 0.51520102],
       [0.46533032, 0.53466968],
       [0.44860401, 0.55139599],
       [0.44025138, 0.55974862],
       [0.56190732, 0.43809268],
       [0.4505442 , 0.5494558 ],
       [0.49708264, 0.50291736],
       [0.51354057, 0.48645943],
       [0.50743611, 0.49256389],
       [0.46430815, 0.53569185],
       [0.49769039, 0.50230961],
       [0.4702235 , 0.5297765 ],
       [0.50562305, 0.49437695],
       [0.45376952, 0.54623048],
       [0.51411838, 0.48588162],
       [0.5743217 , 0.4256783 ],
       [0.50839674, 0.49160326],
       [0.51360553, 0.48639447],
       [0.47889395, 0.52110605],
       [0.47306039, 0.52693961],
       [0.48969944, 0.51030056],
       [0.49231871, 0.50768129],
       [0.48721974, 0.51278026],
       [0.5590985 , 0.4409015 ],
       [0.48486468, 0.51513532],
       [0.50135895, 0.49864105],
       [0.48552334, 0.51447666],
       [0.5085615 , 0.4914385 ],
       [0.53492369, 0.46507631],
       [0.4507074 , 0.5492926 ],
       [0.53754725, 0.46245275],
       [0.46309902, 0.53690098],
       [0.50872237, 0.49127763],
       [0.51779076, 0.48220924],
       [0.52261699, 0.47738301],
       [0.45631278, 0.54368722],
       [0.51419327, 0.48580673],
       [0.44649799, 0.55350201],
       [0.50620274, 0.49379726],
       [0.4838625 , 0.5161375 ],
       [0.49638504, 0.50361496],
       [0.5340126 , 0.4659874 ],
       [0.4590537 , 0.5409463 ],
       [0.5267185 , 0.4732815 ],
       [0.48219751, 0.51780249],
       [0.50935416, 0.49064584],
       [0.55938105, 0.44061895],
       [0.47592619, 0.52407381],
       [0.46553719, 0.53446281],
       [0.53289273, 0.46710727],
       [0.46263515, 0.53736485],
       [0.50374843, 0.49625157],
       [0.50793043, 0.49206957],
       [0.5176496 , 0.4823504 ],
       [0.5295095 , 0.4704905 ],
       [0.56068247, 0.43931753],
       [0.56277946, 0.43722054],
       [0.50409157, 0.49590843],
       [0.4887014 , 0.5112986 ],
       [0.51411838, 0.48588162],
       [0.48315571, 0.51684429],
       [0.48811743, 0.51188257],
       [0.44578525, 0.55421475],
       [0.53110101, 0.46889899],
       [0.52088997, 0.47911003],
       [0.50650884, 0.49349116],
       [0.5178844 , 0.4821156 ],
       [0.54081605, 0.45918395],
       [0.48813699, 0.51186301],
       [0.50052526, 0.49947474],
       [0.56763257, 0.43236743],
       [0.52674793, 0.47325207],
       [0.44352356, 0.55647644],
       [0.51701308, 0.48298692],
       [0.49233753, 0.50766247],
       [0.53010399, 0.46989601],
       [0.48975165, 0.51024835],
       [0.52044776, 0.47955224],
       [0.50206125, 0.49793875],
       [0.47429208, 0.52570792],
       [0.53342708, 0.46657292],
       [0.54179429, 0.45820571],
       [0.53310882, 0.46689118],
       [0.52813373, 0.47186627],
       [0.54798641, 0.45201359],
       [0.53729013, 0.46270987],
       [0.46368018, 0.53631982],
       [0.51321118, 0.48678882],
       [0.48301905, 0.51698095],
       [0.44518471, 0.55481529],
       [0.57061333, 0.42938667],
       [0.54354365, 0.45645635],
       [0.46647025, 0.53352975],
       [0.52501912, 0.47498088],
       [0.4993293 , 0.5006707 ],
       [0.48687918, 0.51312082],
       [0.52023184, 0.47976816],
       [0.55796894, 0.44203106],
       [0.52797783, 0.47202217],
       [0.51491377, 0.48508623],
       [0.50809672, 0.49190328],
       [0.43576099, 0.56423901],
       [0.53335786, 0.46664214],
       [0.47310782, 0.52689218],
       [0.50973122, 0.49026878],
       [0.4425707 , 0.5574293 ],
       [0.53126367, 0.46873633],
       [0.48281294, 0.51718706],
       [0.53670979, 0.46329021],
       [0.52634764, 0.47365236],
       [0.5032775 , 0.4967225 ],
       [0.46661095, 0.53338905],
       [0.53372735, 0.46627265],
       [0.48449312, 0.51550688],
       [0.51337587, 0.48662413],
       [0.52473564, 0.47526436],
       [0.52674641, 0.47325359],
       [0.51196843, 0.48803157],
       [0.55468574, 0.44531426],
       [0.54886788, 0.45113212],
       [0.56909833, 0.43090167],
       [0.50005356, 0.49994644],
       [0.53566456, 0.46433544],
       [0.47693314, 0.52306686],
       [0.55201568, 0.44798432],
       [0.55858776, 0.44141224],
       [0.52600542, 0.47399458],
       [0.46703246, 0.53296754],
       [0.51649652, 0.48350348],
       [0.44682386, 0.55317614],
       [0.57504967, 0.42495033],
       [0.50503492, 0.49496508],
       [0.53305682, 0.46694318],
       [0.49652033, 0.50347967],
       [0.56847903, 0.43152097],
       [0.54388419, 0.45611581],
       [0.45958687, 0.54041313],
       [0.47233754, 0.52766246],
       [0.57575438, 0.42424562],
       [0.51748499, 0.48251501],
       [0.47277916, 0.52722084],
       [0.54618001, 0.45381999],
       [0.49790668, 0.50209332],
       [0.48050222, 0.51949778],
       [0.52438416, 0.47561584],
       [0.58262068, 0.41737932],
       [0.48136417, 0.51863583],
       [0.52051793, 0.47948207],
       [0.50783669, 0.49216331],
       [0.50166058, 0.49833942],
       [0.54571229, 0.45428771],
       [0.52562459, 0.47437541],
       [0.46839868, 0.53160132],
       [0.46428479, 0.53571521],
       [0.56234344, 0.43765656],
       [0.44638596, 0.55361404],
       [0.53959492, 0.46040508],
       [0.51811003, 0.48188997],
       [0.51115638, 0.48884362],
       [0.51832602, 0.48167398],
       [0.49877301, 0.50122699],
       [0.53770276, 0.46229724],
       [0.48722815, 0.51277185],
       [0.50477876, 0.49522124],
       [0.46417203, 0.53582797],
       [0.46551382, 0.53448618],
       [0.48353713, 0.51646287],
       [0.50017293, 0.49982707],
       [0.56054767, 0.43945233],
       [0.51721681, 0.48278319],
       [0.46609926, 0.53390074],
       [0.54812196, 0.45187804],
       [0.56983297, 0.43016703],
       [0.5212477 , 0.4787523 ],
       [0.58273092, 0.41726908],
       [0.49693015, 0.50306985],
       [0.53482437, 0.46517563],
       [0.52461869, 0.47538131],
       [0.48801379, 0.51198621],
       [0.50522167, 0.49477833],
       [0.53849869, 0.46150131],
       [0.49334652, 0.50665348],
       [0.49486196, 0.50513804],
       [0.54733315, 0.45266685],
       [0.51649652, 0.48350348],
       [0.4991222 , 0.5008778 ],
       [0.54242106, 0.45757894],
       [0.51412831, 0.48587169],
       [0.49414094, 0.50585906],
       [0.47070782, 0.52929218],
       [0.48911616, 0.51088384],
       [0.58095647, 0.41904353],
       [0.52993977, 0.47006023],
       [0.5158978 , 0.4841022 ],
       [0.47243101, 0.52756899],
       [0.49303891, 0.50696109],
       [0.5332825 , 0.4667175 ],
       [0.49547571, 0.50452429],
       [0.51521122, 0.48478878],
       [0.49484842, 0.50515158],
       [0.49091605, 0.50908395],
       [0.49005315, 0.50994685],
       [0.48815504, 0.51184496],
       [0.44895341, 0.55104659],
       [0.44934084, 0.55065916],
       [0.53854073, 0.46145927],
       [0.54355322, 0.45644678],
       [0.55468574, 0.44531426],
       [0.47751622, 0.52248378],
       [0.52401625, 0.47598375],
       [0.46732891, 0.53267109],
       [0.53993203, 0.46006797],
       [0.489979  , 0.510021  ],
       [0.45286805, 0.54713195],
       [0.55709475, 0.44290525],
       [0.51418937, 0.48581063],
       [0.49115106, 0.50884894],
       [0.50685798, 0.49314202],
       [0.57443253, 0.42556747],
       [0.5161062 , 0.4838938 ],
       [0.4807792 , 0.5192208 ],
       [0.52375827, 0.47624173],
       [0.50517173, 0.49482827],
       [0.53319304, 0.46680696],
       [0.50739383, 0.49260617],
       [0.51998284, 0.48001716],
       [0.51236735, 0.48763265],
       [0.5613319 , 0.4386681 ],
       [0.44707567, 0.55292433],
       [0.48918328, 0.51081672],
       [0.49165889, 0.50834111],
       [0.53450471, 0.46549529],
       [0.51399672, 0.48600328],
       [0.50879805, 0.49120195],
       [0.49456188, 0.50543812],
       [0.53554191, 0.46445809],
       [0.49802001, 0.50197999],
       [0.51876837, 0.48123163],
       [0.48355669, 0.51644331],
       [0.49507507, 0.50492493],
       [0.53203467, 0.46796533],
       [0.46793802, 0.53206198],
       [0.48101547, 0.51898453],
       [0.50601373, 0.49398627],
       [0.47949226, 0.52050774],
       [0.50903231, 0.49096769],
       [0.50061979, 0.49938021],
       [0.55157748, 0.44842252],
       [0.56475834, 0.43524166],
       [0.48979078, 0.51020922],
       [0.48727118, 0.51272882],
       [0.53933196, 0.46066804],
       [0.52794992, 0.47205008],
       [0.49344026, 0.50655974],
       [0.50667362, 0.49332638],
       [0.51564023, 0.48435977],
       [0.54453516, 0.45546484]])

In [ ]:
from sklearn.metrics import log_loss
log_loss(y_test, y_pred)

0.6965662943794628

In [ ]:
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(x, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

print(y_pred)

[1 1 1 1 0 1 0 1 0 1 0 1 1 1 1 0 1 1 0 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0
 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 1 0 1 0 1 0 0 1 1 0 1
 1 1 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 1 0 1 0 1 0 1 0 1 1 1 0 0 0 1 1 1 0 0
 1 0 0 1 1 1 1 1 0 0 1 1 0 1 1 1 1 0 0 1 0 0 1 1 1 0 1 1 0 1 1 0 0 1 0 1 1
 0 0 0 0 1 0 0 0 1 1 1 1 1 1 0 0 1 0 0 0 1 0 1 1 0 0 0 0 1 1 0 1 0 0 0 0 0
 0 1 0 0 0 0 1 0 1 1 0 1 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 1
 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 1 1 0 0 0 0 1 1 0 1 1 1 1 0 0 0 1
 1 1 1 1 1 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 1 1 1 0 0 0 1 1 1 0 1 0 0 0 0 1
 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 1 0 1
 1 1 1 0 1 1 0 1 0 0 1 0 1 1 1 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1
 0 0 1 0 1 1 1 1 0 0 0 1 1 0 0 0]

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(x,y_train)

y_pred=clf.predict(x_test)

print(y_pred)

[1 1 1 1 0 1 0 1 0 1 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 1 1 0 1 1 1 0 0 0 0 0
 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 1 1
 1 1 0 0 0 0 1 0 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1 1 1 0 1 0 0 0 1 0 1 1 1 1 1
 1 1 0 0 1 1 1 1 1 1 0 1 0 1 0 1 1 0 0 1 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1
 0 0 0 0 1 0 0 1 1 1 0 1 1 0 1 1 0 0 0 0 1 0 1 1 0 0 0 0 1 1 1 1 0 0 0 0 1
 0 0 1 1 1 0 1 1 1 1 1 1 1 0 1 0 1 0 0 1 0 1 1 1 0 0 1 1 0 0 0 0 0 1 1 0 1
 0 1 1 0 0 1 0 0 1 0 0 1 1 0 1 0 1 1 1 0 0 1 1 0 0 1 1 0 0 1 1 1 1 1 1 0 1
 1 1 1 0 1 0 0 1 0 0 0 0 1 0 1 0 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0 1 0 0 0 0 0
 1 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 1 0 1 1 1 0 1 1 0 0 1 1 1 1 1 0 0 0 1 0 1
 1 0 1 1 1 1 0 0 1 0 0 1 0 1 1 0 1 1 1 1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 1 1 1
 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 1]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(x, y_train)

KNeighborsClassifier()

In [ ]:
y_pred = classifier.predict(x)

In [ ]:
print(y_pred)

[1 0 0 ... 0 1 0]

In [ ]:
import pickle

In [ ]:
pickle.dump(clflo,open('pickel_model.pkl','wb'))

model=pickle.load(open('pickel_model.pkl','rb'))